services:
  - type: web
    name: hermes-api
    runtime: docker
    rootDir: .
    dockerfilePath: apps/api/Dockerfile
    dockerContext: .
    plan: starter
    healthCheckPath: /ready
    envVars:
      - key: NODE_ENV
        value: production
      - key: DEV_PROOF_MODE
        value: "false"
      - key: STORE_ID
        value: store-outdoor
      - key: PORT
        value: "3001"

  - type: web
    name: hermes-web
    runtime: docker
    rootDir: .
    dockerfilePath: apps/web/Dockerfile
    dockerContext: .
    plan: starter
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_API_BASE_URL
        fromService:
          name: hermes-api
          type: web
          property: url
      - key: PORT
        value: "3000"
